<h2>About Message Board</h2>
<p>Q and A board or the Message Board acts like a forum where questions can be raised and anyone can provide an answer(s). Other people with related queestions can therefore view, delete or edit the queestions and answers</p>
