<h3>This will help you get a better understanding of {{message.author}}'s question. So, any thoughts?</h3>

{{update-message message=model update="update"}}

{{message-detail message=model destroyMessage="destroyMessage"}}
